doctype html
html
    head
        style.
            .item {

            }

    body(ng-app="app")
        div(id="container" ng-controller="Controller")
            textarea(ng-model="new.text")
            button(ng-click="submit()") submit

            item(ng-repeat="item in items" item="item")

        script(src="https://code.angularjs.org/1.2.9/angular.min.js")
        script(src="https://code.angularjs.org/1.2.9/angular-resource.min.js")
        script.
            angular.module('app', ['ngResource'])
                .controller('Controller', [
                    '$scope',
                    'Item',
                    function($scope, Item) {
                        $scope.items = Item.browse();
                        $scope.new = new Item();
                        $scope.submit = function() {
                            $scope.new.$create({}, function() {
                                $scope.items.unshift($scope.new);
                                $scope.new = new Item();
                                console.log($scope.items);
                            });
                        }
                    }
                ])
                .factory('Item', [
                    '$resource',
                    function($resource) {
                        return $resource(
                            '/api/item/:_id',
                            {
                                _id: '@_id'
                            },
                            {
                                browse: {method: 'GET', isArray: true},
                                create: {method: 'POST'},
                                save: {method: 'PUT'}
                            }
                        );
                    }
                ])
                .directive('item', [
                    function() {
                        return {
                            restrict: 'E',
                            template: document.getElementById('item').textContent,
                            scope: {
                                item: '='
                            }
                        }
                    }
                ])

    script(type="text/template" id="item")
        div(class="item")
            textarea {{item.text}}
            button(ng-click="item.$save()") save
